@charset "UTF-8";
#recent-item {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

#recent-item a:hover::before {
  width: 0;
}

.recent-item-left {
  width: 36%;
}

.recent-item-img-body {
  position: relative;
  width: 100%;
  padding-top: 66.67%;
  border-radius: 6px;
  overflow: hidden;
  transform: rotate3d(0);
}

.recent-item-img-body a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(120, 120, 120, 0.1);
  transition: all .5s;
}

#recent-item:hover .recent-item-img-body a {
  transform: scale(1.07);
}

.recent-item-right {
  box-sizing: border-box;
  width: 64%;
  padding-left: 10px;
}

.recent-item-right .recent-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.recent-item-content-cate {
  margin-bottom: 5px;
}

.recent-item-content-cate ul .tag-list-link {
  display: inline-block;
  box-sizing: border-box;
  padding: .1rem .3rem;
  font-size: .7rem;
  color: #18a1db;
  border-radius: 5px;
  background-color: rgba(24, 161, 219, 0.259);
}

.recent-item-content .recent-item-content-body {
  width: 100%;
  font-size: 14px;
  line-height: 1.3;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  transition: all .2s;
}

.recent-item-content .recent-item-content-body a {
  color: #555;
  transition: all .3s;
}

.recent-item-content .recent-item-content-body a:hover {
  color: #18a1db;
}

.recent-item-content .recent-item-content-body .current {
  color: #18a1db;
}