<div class="bar-item bar-au clearfix">
  <!-- <div class="au-left" style="float: left;"> -->
  <div class="headback">
    <img class="au-head" src="<%- theme.userhead %>" alt="头像">
  </div>
  <div class="au-name">lernb.</div>
  <div class="slogan" style="margin-bottom: 10px;">
    <p>学习 · 记录 · 分享</p>
  </div>
  <!-- </div> -->
  <!-- <div class="au-right" style="float: right; width: calc(100% - 110px);"> -->
  <!-- <div class="au-site"></div> -->
  <!-- <div class="au-btn clearfix">
    <a class="au-btn-item btn-left" href="#">邮箱</a>
    <a class="au-btn-item btn-right" href="#">关于</a>
  </div> -->
  <!-- </div> -->
</div>