<head>
  <script>
    if (!!window.ActiveXObject || "ActiveXObject" in window || navigator.userAgent.indexOf("Edge") > -1) {
      document.execCommand("stop");
      alert("页面已停止加载，请使用非IE内核浏览器访问本站点！！");
    }
  </script>
  <meta charset="UTF-8">
  <title>
    <% if (page.title){ %>
      <%- page.title + ' - ' + theme.title %>
        <% } else { %>
          <%- theme.title %>
            <% } %>
  </title>
  <!-- <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="expires" content="0"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
  <meta name="description" content="<%- theme.description %>" />
  <meta name="keywords" content="<%- theme.keywords %>" />
  <meta name="author" content="LERNB">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="format-detection" content="telephone=no, email=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="x5-fullscreen" content="true">
	<meta name="full-screen" content="yes">
	<meta name="x5-page-mode" content="app">
	<meta name="browsermode" content="application">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="msapplication-TileColor" content="#5e72e4">

	<meta name="application-name" content="LERNB">
	<meta name="apple-mobile-web-app-title" content="LERNB">
  <link href="/asset/favicon.png" rel="apple-touch-icon-precomposed">
  <link href="/asset/favicon.png" rel="Shortcut Icon" type=image/x-icon>
  <link rel="stylesheet" href="https://lernb.gitee.io/css/cmFont.css">
  <link rel="stylesheet" href="https://lernb.gitee.io/css/reset.css">
  <link rel="stylesheet" href="https://lernb.gitee.io/css/prism20200920.css">
  <link rel="stylesheet" href="https://lernb.gitee.io/css/lernb20201012.css?v=04252153">
</head>